[![AnalyticsDojo](https://github.com/rpi-techfundamentals/spring2019-materials/blob/master/fig/final-logo.png?raw=1)](http://rpi.analyticsdojo.com)
<center><h1>Introduction to R - DataFrames</h1></center>
<center><h3><a href = 'http://rpi.analyticsdojo.com'>rpi.analyticsdojo.com</a></h3></center>

## Introduction to R DataFrames
- Data frames are combinations of vectors of the same length, but can be of different types.
- It is a special type of list.  
- Data frames are what is used for standard rectangular (record by field) datasets, similar to a spreadsheet
- Data frames are a functionality that both sets R aside from some languages (e.g., Matlab) and provides functionality similar to some statistical packages (e.g., Stata, SAS) and Python's Pandas Packages.

In [1]:
frame=read.csv(file="../../input/iris.csv", header=TRUE,sep=",")
class(frame)
head(frame) #The first few rows.
tail(frame) #The last few rows.
str(frame) #The Structure.

[1] "data.frame"

  sepal_length sepal_width petal_length petal_width species
1 5.1          3.5         1.4          0.2         setosa
2 4.9          3.0         1.4          0.2         setosa
3 4.7          3.2         1.3          0.2         setosa
4 4.6          3.1         1.5          0.2         setosa
5 5.0          3.6         1.4          0.2         setosa
6 5.4          3.9         1.7          0.4         setosa

    sepal_length sepal_width petal_length petal_width species
145 6.7          3.3         5.7          2.5         virginica
146 6.7          3.0         5.2          2.3         virginica
147 6.3          2.5         5.0          1.9         virginica
148 6.5          3.0         5.2          2.0         virginica
149 6.2          3.4         5.4          2.3         virginica
150 5.9          3.0         5.1          1.8         virginica

'data.frame':	150 obs. of  5 variables:
 $ sepal_length: num  5.1 4.9 4.7 4.6 5 5.4 4.6 5 4.4 4.9 ...
 $ sepal_width : num  3.5 3 3.2 3.1 3.6 3.9 3.4 3.4 2.9 3.1 ...
 $ petal_length: num  1.4 1.4 1.3 1.5 1.4 1.7 1.4 1.5 1.4 1.5 ...
 $ petal_width : num  0.2 0.2 0.2 0.2 0.2 0.4 0.3 0.2 0.2 0.1 ...
 $ species     : Factor w/ 3 levels "setosa","versicolor",..: 1 1 1 1 1 1 1 1 1 1 ...

In [2]:
dim(frame) #Results in rows x columns
nrow(frame)  #The number of Rows
names(frame) #Provides the names
length(frame) #The number of columns
summary(frame) #Provides summary statistics.
is.matrix(frame) #Yields False because it has different types.  
is.list(frame) #Yields True
class(frame$sepal_length)
class(frame$species)
levels(frame$species)

[1] 150   5

[1] 150

[1] "sepal_length" "sepal_width"  "petal_length" "petal_width"  "species"

[1] 5

  sepal_length    sepal_width     petal_length    petal_width
 Min.   :4.300   Min.   :2.000   Min.   :1.000   Min.   :0.100
 1st Qu.:5.100   1st Qu.:2.800   1st Qu.:1.600   1st Qu.:0.300
 Median :5.800   Median :3.000   Median :4.350   Median :1.300
 Mean   :5.843   Mean   :3.054   Mean   :3.759   Mean   :1.199
 3rd Qu.:6.400   3rd Qu.:3.300   3rd Qu.:5.100   3rd Qu.:1.800
 Max.   :7.900   Max.   :4.400   Max.   :6.900   Max.   :2.500
       species
 setosa    :50
 versicolor:50
 virginica :50

[1] FALSE

[1] TRUE

[1] "numeric"

[1] "factor"

[1] "setosa"     "versicolor" "virginica"

In [5]:
frame[c("species","sepal_width")]

    species   sepal_width
1   setosa    3.5
2   setosa    3.0
3   setosa    3.2
4   setosa    3.1
5   setosa    3.6
6   setosa    3.9
7   setosa    3.4
8   setosa    3.4
9   setosa    2.9
10  setosa    3.1
11  setosa    3.7
12  setosa    3.4
13  setosa    3.0
14  setosa    3.0
15  setosa    4.0
16  setosa    4.4
17  setosa    3.9
18  setosa    3.5
19  setosa    3.8
20  setosa    3.8
21  setosa    3.4
22  setosa    3.7
23  setosa    3.6
24  setosa    3.3
25  setosa    3.4
26  setosa    3.0
27  setosa    3.4
28  setosa    3.5
29  setosa    3.4
30  setosa    3.2
⋮   ⋮         ⋮
121 virginica 3.2
122 virginica 2.8
123 virginica 2.8
124 virginica 2.7
125 virginica 3.3
126 virginica 3.2
127 virginica 2.8
128 virginica 3.0
129 virginica 2.8
130 virginica 3.0
131 virginica 2.8
132 virginica 3.8
133 virginica 2.8
134 virginica 2.8
135 virginica 2.6
136 virginica 3.0
137 virginica 3.4
138 virginica 3.1
139 virginica 3.0
140 virginica 3.1
141 virginica 3.1
142 virginica 3.1
143 virginica 2.7
144 virginica 3.2
145 virginica 3.3
146 virginica 3.0
147 virginica 2.5
148 virginica 3.0
149 virginica 3.4
150 virginica 3.0

In [4]:
frame['petals']<-0
frame$petals2<-0
head(frame)

  sepal_length sepal_width petal_length petal_width species petals petals2
1 5.1          3.5         1.4          0.2         setosa  0      0
2 4.9          3.0         1.4          0.2         setosa  0      0
3 4.7          3.2         1.3          0.2         setosa  0      0
4 4.6          3.1         1.5          0.2         setosa  0      0
5 5.0          3.6         1.4          0.2         setosa  0      0
6 5.4          3.9         1.7          0.4         setosa  0      0

In [8]:
mean.sepalLenth.setosa<-mean(frame[,'sepal_length'])

## Slicing a Dataframe by Column
- Remember the syntax of `df[rows,columns]` 
- Using `dataframe$column` provides one way of selecting a column. 
- We can also specify the index position: `dataframe[,columnIndex]`
- We can also specify the column name: `dataframe[,columnsName]`

In [9]:
sepal_length1<-frame$sepal_length #Using Dollar Sign and the column name.
sepal_length2<- frame[,1]  #Using the Index Location
sepal_length3<- frame[,'sepal_length']
sepal_length4<- frame[,c('sepal_length','sepal_width')]

sepal_length1[1:5]  #Print the first 5  
sepal_length2[1:5]
sepal_length3[1:5]

[1] 5.1 4.9 4.7 4.6 5.0

[1] 5.1 4.9 4.7 4.6 5.0

[1] 5.1 4.9 4.7 4.6 5.0

## Selecting Rows
- We can select rows from a dataframe using index position: `dataframe[rowIndex,columnIndex]`. 
- Use `c(row1, row2, row3)` to select out specific rows.

In [5]:
frame2<-frame[1:20,]   
frame3<-frame[c(1,5,6),] #This selects out specific rows
nrow(frame2)
nrow(frame3)
frame3

[1] 20

[1] 3

  sepal_length sepal_width petal_length petal_width species petals petals2
1 5.1          3.5         1.4          0.2         setosa  0      0
5 5.0          3.6         1.4          0.2         setosa  0      0
6 5.4          3.9         1.7          0.4         setosa  0      0

## Conditional Statements and Dataframes with Subset
- We can select subsets of a dataframe by putting an equality in the row or subset. 
- Subset is also a dataframe. 
- Can optionally select columns with the `select = c(col1, col2)`

In [7]:
setosa.df <- subset(frame, species == 'setosa')

head(setosa.df)
class(setosa.df)
nrow(setosa.df)
mean.sepalLenth.setosa<-mean(setosa.df$sepal_length) #This creates a new vector
mean.sepalLenth.setosa
setosa.df.highseptalLength <- subset(setosa.df, sepal_length > mean.sepalLenth.setosa)
nrow(setosa.df.highseptalLength)
head(setosa.df.highseptalLength)
setosa.dfhighseptalLength2 <- subset(setosa.df, sepal_length > mean.sepalLenth.setosa, select = c(sepal_length, species))
head(setosa.dfhighseptalLength2)

  sepal_length sepal_width petal_length petal_width species petals petals2
1 5.1          3.5         1.4          0.2         setosa  0      0
2 4.9          3.0         1.4          0.2         setosa  0      0
3 4.7          3.2         1.3          0.2         setosa  0      0
4 4.6          3.1         1.5          0.2         setosa  0      0
5 5.0          3.6         1.4          0.2         setosa  0      0
6 5.4          3.9         1.7          0.4         setosa  0      0

[1] "data.frame"

[1] 50

[1] 5.006

[1] 22

   sepal_length sepal_width petal_length petal_width species petals petals2
1  5.1          3.5         1.4          0.2         setosa  0      0
6  5.4          3.9         1.7          0.4         setosa  0      0
11 5.4          3.7         1.5          0.2         setosa  0      0
15 5.8          4.0         1.2          0.2         setosa  0      0
16 5.7          4.4         1.5          0.4         setosa  0      0
17 5.4          3.9         1.3          0.4         setosa  0      0

   sepal_length species
1  5.1          setosa
6  5.4          setosa
11 5.4          setosa
15 5.8          setosa
16 5.7          setosa
17 5.4          setosa

## Subsetting Rows Using Indices
- Just like pandas, we are using conditional statements to specify specific rows. 
- See [here](http://www.ats.ucla.edu/stat/r/faq/subset_R.htm) for good coverage and examples.

In [5]:
setosa.df <- frame[frame$species == "setosa",]
head(setosa.df)
class(setosa.df)
nrow(setosa.df)
mean.sepalLenth.setosa<-mean(setosa.df$sepal_length) #This creates a new vector
mean.sepalLenth.setosa
setosa.df.highseptalLength <- setosa.df[setosa.df$sepal_length > mean.sepalLenth.setosa,]
nrow(setosa.df.highseptalLength)
head(setosa.df.highseptalLength)

  sepal_length sepal_width petal_length petal_width species petals
1          5.1         3.5          1.4         0.2  setosa      0
2          4.9         3.0          1.4         0.2  setosa      0
3          4.7         3.2          1.3         0.2  setosa      0
4          4.6         3.1          1.5         0.2  setosa      0
5          5.0         3.6          1.4         0.2  setosa      0
6          5.4         3.9          1.7         0.4  setosa      0

[1] "data.frame"

[1] 50

[1] 5.006

[1] 22

   sepal_length sepal_width petal_length petal_width species petals
1           5.1         3.5          1.4         0.2  setosa      0
6           5.4         3.9          1.7         0.4  setosa      0
11          5.4         3.7          1.5         0.2  setosa      0
15          5.8         4.0          1.2         0.2  setosa      0
16          5.7         4.4          1.5         0.4  setosa      0
17          5.4         3.9          1.3         0.4  setosa      0

In [14]:
specific.df <- frame[frame$sepal_length %in% c(5.1,5.8),]
head(specific.df)

   sepal_length sepal_width petal_length petal_width species petals
1  5.1          3.5         1.4          0.2         setosa  0
15 5.8          4.0         1.2          0.2         setosa  0
18 5.1          3.5         1.4          0.3         setosa  0
20 5.1          3.8         1.5          0.3         setosa  0
22 5.1          3.7         1.5          0.4         setosa  0
24 5.1          3.3         1.7          0.5         setosa  0

## Basics

1. Load the Titanic train.csv data into an R data frame.
2. Calculate the number of rows in the data frame.
3. Calcuated general descriptive statistics for the data frame.
4. Slice the data frame into 2 parts, selecting the first half of the rows. 
5. Select just the columns passangerID and whether they survivied or not.

## CREDITS

Copyright [AnalyticsDojo](http://rpi.analyticsdojo.com) 2016
This work is licensed under the [Creative Commons Attribution 4.0 International](https://creativecommons.org/licenses/by/4.0/) license agreement.
Adopted from [Berkley R Bootcamp](https://github.com/berkeley-scf/r-bootcamp-2016).