In [5]:
import pandas as pd
import numpy as np
import csv
schedule_md= pd.read_excel('../schedule.xlsx', sheet_name = 'schedule_md', header=0)
schedule_md.to_csv('../content/schedule.md',  index=None, sep=' ',quoting = csv.QUOTE_NONE, escapechar = ' ')

Error: single empty field record must be quoted

In [3]:
schedule_md

         | Session | Day | Date | Topic | Notebooks |
0   | :-----: | :-----: | :-----: | :-------------...
1   | 1 | Th | 08/29 | **Course Overview & Introdu...
2   | 2 | M | 09/02 | **Labor Day No Classes (Tues...
3   | 2 | Tu | 09/03 | **Python Basics** <br> [mor...
4   | 2 | Th | 09/05 | **Python Basics** <br> [mor...
5   | 3 | M | 09/09 | **Python conditionals, loops...
6   | 3 | Th | 09/12 | **Python conditionals, loop...
7   | 4 | M | 09/16 | **Python visualization, data...
8   | 4 | Th | 09/19 | **Python visualization, dat...
9   | 5 | M | 09/23 | **Visualization with Tableau...
10  | 5 | Th | 09/26 | **Visualization with Tablea...
11  | 6 | M | 09/30 | **Introduction to R** <br> [...
12  | 6 | Th | 10/03 | **Introduction to R** <br> ...
13  | 7 | M | 10/07 | **Overview of Modeling** <br...
14  | 7 | Th | 10/10 | **Overview of Modeling** <b...
15  | 8 | M | 10/14 | **Review/Kaggle Project Intr...
16  | 8 | Th | 10/17 | **Midterm** <br> [more](/MG...
17  | 9 | M | 10/21 | **Classification** <br> [mor...
18  | 9 | Th | 10/24 | **Classification** <br> [mo...
19  | 10 | M | 10/28 | **Regression** <br> [more](...
20  | 10 | Th | 10/31 | **Regression** <br> [more]...
21  | 11 | M | 11/04 | **Text and NLP** <br> [more...
22  | 11 | Th | 11/07 | **Text and NLP** <br> [mor...
23  | 12 | M | 11/11 | **Introduction to Big Data*...
24  | 12 | Th | 11/14 | **Time Series Analysis** <...
25  | 13 | M | 11/18 | **Image Data and Deep Learn...
26  | 13 | Th | 11/21 | **Image Data and Deep Lear...
27  | 14 | M | 11/25 | **Automl and Modeling Packa...
28  | 14 | Th | 11/28 | **Thanksgiving** <br>  <br...
29  | 15 | M | 12/02 | **Automl and Model Search**...
30  | 15 | Th | 12/05 | **Final Presentations** <b...
31  | 16 | M | 12/09 | **Final Presentations** <br...
32                                                NaN

In [4]:
pd.read_excel?

In [15]:
import pandas as pd
import numpy as np
import csv
schedule_md= pd.read_excel('../schedule.xlsx', sheet_name = 'sessions_md', header=0, usecols="A", skiprows=1)
schedule_md.to_csv('../content/session_01.md',  index=None, sep=' ',quoting = csv.QUOTE_NONE, escapechar = ' ')

In [ ]:
import pandas as pd
import numpy as np
import csv
schedule_md= pd.read_excel('../schedule.xlsx', sheet_name = 'toc_yml', header=0)
schedule_md.to_csv('../content/session_01.md',  index=None, sep=' ',quoting = csv.QUOTE_NONE, escapechar = ' ')